@import '@fontsource-variable/figtree' layer(base);
@import '@fontsource-variable/figtree/wght-italic.css' layer(base);

@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
    --font-sans: 'Figtree Variable', sans-serif;
    --color-primary: #02738f;
    --shadow-avatar: 0 0 0 11px --alpha(var(--color-primary) / 15%), 0 0 0 22px --alpha(var(--color-primary) / 10%);
    --shadow-button: 0 0 0 6px --alpha(var(--color-primary) / 17.5%);
}

@layer utilities {
    .prose a {
        @apply text-primary underline decoration-1 underline-offset-2 hover:no-underline;
    }
    .prose blockquote {
        @apply relative border-none pl-0 text-center text-[1.375em] leading-snug font-semibold not-italic sm:text-[1.66667em] lg:-mx-24 xl:-mx-40;
    }
    .prose blockquote:before {
        @apply bg-primary mx-auto block h-0.75 w-15;
        content: '';
        margin-bottom: 1.375em;
    }
    .prose blockquote:after {
        @apply bg-primary mx-auto block h-0.75 w-7.5;
        content: '';
        margin-top: 1.375em;
    }
}
